* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* REGOLE COMUNI */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;

}

.container_top,
.container_lg,
.container_bottom,
.container_under {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
}

/* STRUTTURA HEADER */

/* H. DIMENSIONI */

.col-20 {
    width: 20%;
}

.col-60 {
    width: 60%;
}

/* H. COLORI */

.bg-azure {
    background-color: #255ee9;
}

/* H. ALLINEAMENTI E STILI */


.pd-10 {
    padding: 10px 0;
}

.text-sx {
    text-align: left;
}

.text-dx {
    text-align: right;
}


.nav_bar {
    display: inline-block;
}

.m-r-30 {
    margin-right: 30px;
}

.text-center {
    text-align: center;
}

.fc-blk {
    color: black;
}

.fc-wht {
    color: white;
}

.btn-wht {
    background-color: white;
}

.btn-blk {
    background-color: rgb(19, 18, 18);
}

.btn-vlt {
    background-color: #648ae8;
}

.btn-pd-10-15 {
    padding: 10px 15px;
    border-radius: 20px;
}

/* STRUTTURA MAIN */

/* M. DIMENSIONI */

.container_sm {
    max-width: 900px;
    margin: 0 auto;
}

.pd-100 {
    padding: 100px 0;
}

.jstc-c {
    justify-content: center;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

/* M. COLORI */

.wave {
    background-image: url(../img/wave.svg);
    height: 70px;
}

.wave.rot {
    transform: rotate(180deg);
}

.bg-jumbo {
    background-image: url(../img/jumbo.png);
}

.bg-img-star {
    background-image: url(../img/stars.svg);
}

.bg-img-prop {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-gray {
    background-color: #d3d3d3;
}

/* M. ALLINEAMENTI E STILI */

.m-b-40 {
    margin: 0 0 40px 0;
}

h1 {
    font-size: 40px;
}

.pd-30 {
    padding: 30px 0;
}

.pd-top-40 {
    padding-top: 40px;
}

.line-h {
    line-height: 1.5;
}

.m-btn-5 {
    margin: 0 5px;
}

/* STRUTTURA FOOTER */

#grow div {
    flex-grow: 1;
}

#grow :nth-child(1) {
    flex-grow: 2;
}

.jstc-s-bet {
    justify-content: space-between;
}

/* F. COLORI */

.fc-violet {
    color: #648ae8;
}

.bg-black {
    background-color: #23272a;
}

/* F. ALLINEAMENTI E STILI */

h4 {
    color: #648ae8;
}

.italy_flag {
    width: 20px;
}

.pd-10-30 {
    padding: 10px 0 30px 0;
}

.pd-10-5 {
    padding: 10px 0 5px 0;
}

.ul-footer>li,
.m-20 {
    margin: 20px 0;
}

.b-top {
    border-top: 1px solid white;
}

.logo_icon img {
    width: 20px;
    margin-right: 10px;

}